code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

.primary-nav {
    background-color: aliceblue;
    padding: 16px 32px;
}

nav a{
    text-decoration: none;
    margin-right: 16px;
}